@model IEnumerable<FatturaSubito.Models.DocumentoViewModel>
@{
    ViewBag.Title = "Lista Fatture di Vendita";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<h2>Lista Fatture di Vendita</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div id="successMessage" class="card">
        <div class="card-body text-success">
            @TempData["SuccessMessage"]
        </div>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div id="errorMessage" class="card">
        <div class="card-body text-danger">
            @TempData["ErrorMessage"]
        </div>
    </div>
}




<div class="table-responsive">


    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Data</th>
                <th>Nome Azienda</th>
                <th>Email Cliente</th>
                <th>Totale Fattura</th>
                <th>Stato</th>
                <th>Modifica Documento</th>
                <th>Cestina Documento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var documento in Model)
            {

                <tr>
                    <td>@documento.Numero</td>
                    <td>@documento.Data.ToShortDateString()</td>
                    <td>@documento.NomeAzienda</td>
                    <td>@documento.Email</td>
                    <td>@String.Format("{0:C}", documento.TotaleDocumento)</td>
                    <td>@documento.Stato</td>
                    <td>
                        @Html.ActionLink("Modifica", "Modifica", "FattureVendita", new { id = documento.Id }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @using (Html.BeginForm("CestinaDocumento", "FattureVendita", new { id = documento.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Cestina</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    window.onload = function () {

        setTimeout(function () {
            var successMessage = document.getElementById('successMessage');
            if (successMessage) {
                successMessage.style.display = 'none';
            }

            var errorMessage = document.getElementById('errorMessage');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 3000);
    };


</script>
